<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
  <label>Title</label>
    <input type="text" class="form-control" name="publish" placeholder="Publish" />
  
  <!-- <input type="text" name="Post" placeholder="Post" />-->
  <label>Post</label>
    <textarea name="Text" class="form-control" cols="40" rows="5"></textarea>
</div>
<button type="submit"  name="button" class="btn btn-primary">Publish</button>

</form>

<%- include('partials/footer'); -%>
